= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :location
    %p= @booking.location.description
    = f.hidden_field :location_id, value: @booking.location.id
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :telephone
    = f.number_field :telephone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :make
    = f.text_field :make
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :registration_number
    = f.text_field :registration_number
  .actions
    = f.submit 'Save'
