%h1 Listing bookings

= form_tag bookings_path, method: 'get' do
  = label_tag :search, t('.search')
  = text_field_tag :search, '', title: t('.enter_a_search')
  
  = submit_tag t('.search')
  
- if @bookings.present?
  - render @bookings
- else
  %p There are no bookings with that description

%table
  %thead
    %tr
      %th Location
      %th Firstname
      %th Lastname
      %th Telephone
      %th Email
      %th Make
      %th Model
      %th Registration number
      %th
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.location.description
        %td= booking.firstname
        %td= booking.lastname
        %td= booking.telephone
        %td= booking.email
        %td= booking.make
        %td= booking.model
        %td= booking.registration_number
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Destroy', booking, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
