%div.nav
    %ul
        %li
            = link_to 'Home', root_path
        %li
            = link_to 'Prices', prices_path
        %li    
            = link_to 'Parking Locations', locations_path
        %li    
            = link_to 'Bookings', bookings_path 
        %li
            = link_to 'Contact Us', contact_path