%p#notice= notice

%p
  %b Title:
  = @location.title
%p
  %b Description:
  = @location.description
  
%p= link_to 'Add Booking', new_booking_path(location_id: @location)

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
